* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;

}

.container {
    max-width: 1280px;
    margin: auto;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    color: aliceblue;
    margin: 50px auto;
    border-radius: 18px;
}

.banner_left {
    padding-left: 45px;
    flex: 1;

}

.banner_left h3 {
    font-size: 70px;
    font-weight: 600;
    width: 500px;
    line-height: 70px;
}

.banner_left p {
    margin: 35px 0;
    width: 400px;
    text-align: justify;
}

.banner_left a {
    list-style: none;
    text-decoration: none;
}

.banner_right {
    flex: 1;
}

.banner_right img {
    display: block;
}

img {
    max-width: 100%;
}

/* **************************up_coming_*********** */
.Upcoming_match {
    display: flex;
    padding: 50px 0;
}

.up_coming_left {
    background-color: black;
    display: flex;
    flex-direction: column;
    padding: 15px;
    border-radius: 15px;
    padding: 15px;
    width: 25%;
    margin-right: 25px;

}

.upcoming_right {
    flex: 1;

}

.up_coming_left a {
    background-color: white;
    padding: 15px 25px;
    color: black;
    text-decoration: none;
    border-radius: 10px;
    transition: calc(1s);
    text-align: center;
    margin-bottom: 10px;
}

.up_coming_left a.active {
    color: white;
    border-radius: 4px;
}

.up_coming_left a.active,
.up_coming_left :hover {
    background-color: red;
    color: aliceblue;
    transition: calc(1s);
}

/* **************Upcomming card */
.upcoming_right {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.upcoming_right .card {
    border: 1px solid rgb(232, 232, 232);
    margin: 10px;
    border-radius: 10px 10px 0 0;
}

.card img {
    height: auto;
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.upcoming_right .card .card_body {
    padding: 20px;
}

.card button {
    color: black;
    padding: 5px 10px;
    border-radius: 10px;
    margin: 10px auto;
}

.card h2 {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 600;
}

.card_span {
    display: flex;
    gap: 15px;
    color: #161616;
}

/* *****************COMMON CSS*********************** */
.btn {
    background-color: red;
    padding: 15px 25px;
    border-radius: 10px;
    font-weight: 600;
    color: white;
}



/* ********************RESPONSIVE*************************** */
/*Laptop */
@media (max-width: 992px) {

    /* *******************banner  */
    .container{
        margin: 0 20px;
    }
    .banner_left h3 {
        font-size: 30px;
        font-weight: 400;
        width: 300px;
        line-height: 35px;
    }

    .banner_left p {
        /* margin: 35px 0; */
        width: 300px;
        text-align: justify;
    }

    /* *****************Up coming match */
    .Upcoming_match {
        flex-direction: column;
    }

    .up_coming_left {
        flex-direction: row;
        width: 100%;
        background: transparent;
    }

    .up_coming_left a {
        border: 1px solid rgb(232, 232, 232);
    }

    .up_coming_left a {
        margin-right: 10px;
    }

    .up_coming_left>* {
        flex: 1;
    }

    .upcoming_right {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Mobile */

@media (max-width: 768px) {
    .container{
        margin: 0 10px;
    }
    .banner {
        flex-direction: column;
        text-align: center;
    }

    .banner .banner_left {
        margin-bottom: 50px;
        padding-left: 0;
        padding-top: 20px;
    }

    .banner .banner_left {
        /* max-width: 100%; */
        margin: 15 auto;
    }

    .upcoming_right {
        grid-template-columns: 1fr;
        width: 100%;
    }


}