* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;

}

.container {
    max-width: 1280px;
    margin: auto;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    color: aliceblue;
    margin: 50px auto;
    border-radius: 18px;
}

.banner_left {
    padding-left: 45px;

}

.banner_left h3 {
    font-size: 70px;
    font-weight: 600;
    width: 500px;
    line-height: 70px;
}

.banner_left p {
    margin: 35px 0;
    width: 400px;
    text-align: justify;

}

.banner_left a {
    list-style: none;
    text-decoration: none;
}

.banner_right img {
    display: block;
}

/* **************************up_coming_*********** */
.Upcoming_match {
    display: flex;
    padding: 50px 0;
}

.up_coming_left {
    background-color: black;
    display: flex;
    flex-direction: column;
    padding: 15px;
    border-radius: 15px;
    padding: 15px;
    width: 25%;
    margin-right: 25px;
    
}

.upcoming_right {
    flex: 1;

} 

.up_coming_left a {
    background-color: white;
    padding: 15px 25px;
    color: black;
    text-decoration: none;
    border-radius: 10px;
    transition: calc(1s);
    text-align: center;
    margin-bottom: 10px;
}

.up_coming_left a.active {
  color: white;
  border-radius: 4px;
}

.up_coming_left a.active,.up_coming_left :hover {
    background-color: red;
    color: aliceblue;
    transition: calc(1s);
}
/* **************Upcomming card */
.upcoming_right{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.upcoming_right .card{
    border: 1px solid rgb(232, 232, 232);
    margin: 10px;
    border-radius: 10px 10px 0 0;
}
.card img{
    height: 100px;
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.upcoming_right .card .card_body{
    padding: 20px ;
}

.card button{
    color: black;
    padding: 5px 10px;
    border-radius: 10px;
    margin: 10px auto;
}

.card h2{
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 600;
}

.card_span{
    display: flex;
    gap: 15px;
    color: #161616;
}

/* *****************COMMON CSS*********************** */
.btn {
    background-color: red;
    padding: 15px 25px;
    border-radius: 10px;
    font-weight: 600;
    color: white;
}